@keyframes rain {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

.raindrops {
  @apply absolute -top-10 left-0 w-full h-full overflow-hidden z-50 pointer-events-none;
}

.raindrop {
  @apply absolute top-0 text-blue-500 text-4xl select-none;
  animation: rain linear infinite;
}

.raindrop:nth-child(1) {
  left: 10%;
  animation-duration: 1.5s;
  animation-delay: 0s;
}

.raindrop:nth-child(2) {
  left: 20%;
  animation-duration: 1.7s;
  animation-delay: 0.2s;
}

.raindrop:nth-child(3) {
  left: 30%;
  animation-duration: 1.3s;
  animation-delay: 0.4s;
}

.raindrop:nth-child(4) {
  left: 40%;
  animation-duration: 1.9s;
  animation-delay: 0.6s;
}

.raindrop:nth-child(5) {
  left: 50%;
  animation-duration: 1.5s;
  animation-delay: 0.8s;
}

.raindrop:nth-child(6) {
  left: 60%;
  animation-duration: 1.7s;
  animation-delay: 1s;
}

.raindrop:nth-child(7) {
  left: 70%;
  animation-duration: 1.6s;
  animation-delay: 0.1s;
}

.raindrop:nth-child(8) {
  left: 80%;
  animation-duration: 1.8s;
  animation-delay: 0.3s;
}

.raindrop:nth-child(9) {
  left: 90%;
  animation-duration: 1.4s;
  animation-delay: 0.5s;
}

.raindrop:nth-child(10) {
  left: 15%;
  animation-duration: 2s;
  animation-delay: 0.7s;
}

.raindrop:nth-child(11) {
  left: 25%;
  animation-duration: 1.5s;
  animation-delay: 0.9s;
}

.raindrop:nth-child(12) {
  left: 35%;
  animation-duration: 1.7s;
  animation-delay: 1.1s;
}

.raindrop:nth-child(13) {
  left: 45%;
  animation-duration: 1.9s;
  animation-delay: 1.3s;
}

.raindrop:nth-child(14) {
  left: 55%;
  animation-duration: 1.6s;
  animation-delay: 1.5s;
}

.raindrop:nth-child(15) {
  left: 65%;
  animation-duration: 1.8s;
  animation-delay: 1.7s;
}

.raindrop:nth-child(16) {
  left: 75%;
  animation-duration: 1.4s;
  animation-delay: 1.9s;
}

.raindrop:nth-child(17) {
  left: 85%;
  animation-duration: 2s;
  animation-delay: 2.1s;
}

.raindrop:nth-child(18) {
  left: 95%;
  animation-duration: 1.5s;
  animation-delay: 2.3s;
}

/* Ajoutez plus de styles pour les nouvelles gouttes */
.raindrop:nth-child(19) {
  left: 5%;
  animation-duration: 1.6s;
  animation-delay: 0.1s;
}

.raindrop:nth-child(20) {
  left: 12%;
  animation-duration: 1.8s;
  animation-delay: 0.3s;
}

.raindrop:nth-child(21) {
  left: 22%;
  animation-duration: 1.4s;
  animation-delay: 0.5s;
}

.raindrop:nth-child(22) {
  left: 32%;
  animation-duration: 2s;
  animation-delay: 0.7s;
}

.raindrop:nth-child(23) {
  left: 42%;
  animation-duration: 1.5s;
  animation-delay: 0.9s;
}

.raindrop:nth-child(24) {
  left: 52%;
  animation-duration: 1.7s;
  animation-delay: 1.1s;
}

.raindrop:nth-child(25) {
  left: 62%;
  animation-duration: 1.9s;
  animation-delay: 1.3s;
}

.raindrop:nth-child(26) {
  left: 72%;
  animation-duration: 1.6s;
  animation-delay: 1.5s;
}

.raindrop:nth-child(27) {
  left: 82%;
  animation-duration: 1.8s;
  animation-delay: 1.7s;
}

.raindrop:nth-child(28) {
  left: 92%;
  animation-duration: 1.4s;
  animation-delay: 1.9s;
}