@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sun {
  @apply absolute left-[300px] z-10 w-32 h-32 bg-yellow-500 rounded-full mx-auto my-10;
  box-shadow: 0 0 20px rgba(255, 223, 0, 0.8), 0 0 30px rgba(255, 223, 0, 0.6), 0 0 40px rgba(255, 223, 0, 0.4);
}

.rays {
  @apply absolute top-0 left-0 w-full h-full flex justify-center items-center;
  animation: rotate 20s linear infinite;
}

.ray {
  @apply absolute w-2 h-16 bg-yellow-400 rounded-full top-[114px];
  transform-origin: center -50px;
  box-shadow: 0 0 10px rgba(255, 223, 0, 0.8), 0 0 15px rgba(255, 223, 0, 0.6);
}

.ray:nth-child(1) {
  transform: rotate(0deg);
}

.ray:nth-child(2) {
  transform: rotate(30deg);
}

.ray:nth-child(3) {
  transform: rotate(60deg);
}

.ray:nth-child(4) {
  transform: rotate(90deg);
}

.ray:nth-child(5) {
  transform: rotate(120deg);
}

.ray:nth-child(6) {
  transform: rotate(150deg);
}

.ray:nth-child(7) {
  transform: rotate(180deg);
}

.ray:nth-child(8) {
  transform: rotate(210deg);
}

.ray:nth-child(9) {
  transform: rotate(240deg);
}

.ray:nth-child(10) {
  transform: rotate(270deg);
}

.ray:nth-child(11) {
  transform: rotate(300deg);
}

.ray:nth-child(12) {
  transform: rotate(330deg);
}